version: 2
updates:
- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: daily
    time: "02:00"
  open-pull-requests-limit: 10
  reviewers:
  - rezroo
  assignees:
  - rezroo
  ignore:
  - dependency-name: github.com/hashicorp/terraform-plugin-sdk/v2
    versions:
    - 2.4.2
    - 2.4.3
